.contact_tap_floating{
    margin-left: 20rpx;
    margin-right: 20rpx;
    margin-top: 20rpx;
    background-color: white;
    margin-bottom: 50rpx; 
    border-radius: 10rpx;
    .map_details{
        .add_name{
            font-size: medium;
            font-weight: 800;
            padding-top: 30rpx;
            padding-bottom: 20rpx;
            padding-left: 20rpx;
        }
        .add_details{
            font-size: smaller;
            color: #77828d;
            padding-bottom: 20rpx;
            padding-left: 20rpx;
        }
        .phone{
            font-size: smaller;
            color: #77828d;
            padding-bottom: 20rpx;
            padding-left: 20rpx;
        }
    }
    .map_func{
        display: flex;
        justify-content: center;
        background-color: #DCDCDC;
        height: 60rpx;
        .map{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1rpx solid;
            border-color: white;
            font-weight: 800;
            image{
                width: 10%;
                margin-right: 10rpx;
            }
        }
        .call{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1rpx solid;
            border-color: white;
            font-weight: 800;
            image{
                width: 10%;
                margin-right: 10rpx;
            }
        }
        .online{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1rpx solid;
            border-color: white;
            image{
                width: 10%;
                margin-right: 10rpx;
            }
            button{
                background-color:#DCDCDC; //可根据自己的背景颜色自行设置
                border-radius: 0rpx;
                padding:0rpx;
                margin:0rpx;
                display: inline-block;
                line-height: 1;
                width: 48%;
                font-weight: 800;
                font-size: 28rpx;
            }
            button::after{ /*button的边框样式是通过::after方式实现的*/
                border:none;
            }
            .button-hover{ /*点击后样式*/
                color:#000;
                background-color: #DCDCDC;
            }
        }
    }
}